# Server
PORT=3000

# Database MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=genshin_store
DB_USER=root
DB_PASS=

# JWT
JWT_SECRET=genshin_secret_key_123
JWT_EXPIRES_IN=1d

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_ANDROID_CLIENT_ID=your_android_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback